<div class="page-header">
	<h1>Reddit Posts</h1>
</div>

<%= link_to "Create a new post", new_post_path, class: "btn btn-success" %>

<% @posts.each do |posts| %>
<div class="post">
	<strong><%= posts.title %></strong>
	<p><%= posts.content %>
	<div class="meta">
		<%= link_to time_ago_in_words(posts.created_at) + " ago", posts %>
		<span class="admin">
			<%= link_to "Edit", edit_post_path(posts) %>
			<%= link_to "Delete", posts, method: :delete, data: {confirm: "Are you sure?"} %>
		
	</div>
</div>

<% end %>
