<div id="newpost">	
	<h1>Post menu</h1>

	<%= form_for @post do |f| %>
		<p>
			<%= f.label :title %><br />
			<%= f.text_field :title %>
		</p>
		<p>
			<%= f.label :breakfast %><br />
			<%= f.text_area :breakfast %>	
		</p>
		<p>
			<%= f.label :lunch %><br />
			<%= f.text_area :lunch %>	
		</p>
			<%= f.submit "Add Post" %>
		</p>
	<% end %>
</div>