<!DOCTYPE html>
<html>
<head>
  <title>Bistro Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav">
 		<ul>
 			<li><%= link_to "New Post", new_post_path %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
 		</ul>
  </div>


<div class="container">
<%= yield %>
</div>
       <p class="notice"><%= notice %></p>
</body>
</html>
